{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description"
              content="KyrgyzCrowd is a platform for crowdfunding projects in Kyrgyzstan.">
        <meta name="keywords" content="Kyrgyzstan, crowdfunding, projects, funding">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <title>
            {% block title %}
                Fortuna
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
              integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{% url "index:home" %}">
                    <img src="{% static 'images/logo.png' %}"
                         alt="KyrgyzCrowd logo"
                         height="100"
                         width="230">
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               href="{% url "index:home" %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               href="{% url "projects:all_projects" %}">Проекты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               href="{% url "index:best" %}">Лучшее</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               href="{% url "index:about" %}">О Нас</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <button class="login-btn" type="submit">Логин</button>
                    </form>
                </div>
            </div>
        </nav>
        {% block content %}
            <h1>No Content</h1>
        {% endblock content %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
        <script>
        let links = document.querySelectorAll('.nav-link');
        let wlh = location.protocol + '//' + location.host + location.pathname;
        for (let i = 0; i < links.length; i++) {
            console.log(links[i].href, wlh);
            if (links[i].href === wlh) {
                links[i].classList.add('current');
            }
        }
        </script>
    </body>
</html>
